name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    - name: Install dependency
      run: |
        sudo apt-get update
        sudo apt-get install iptables
        sudo apt-get install iptables-dev
        sudo go get github.com/apurer/go-libiptc
#     - name: Init iptables
#       run: |
#         sudo modprobe ip_tables
#         sudo echo 'ip_tables' >> /etc/modules
       
    - name: Build
      run: go build -v ./...

    - name: Test
      run: sudo go test -v ./...
